@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    background-color:#fff;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
    z-index: 1;
}
.nav-left{
    display: flex;
    align-items: center;
   
    
    img{
        margin-left: 30px;
        width: 80px;
        height: 80px;
    }
}
.nav-canter{
    
    a{
        text-decoration: none;
        color: black;
        margin: 20px;
        font-size: 15px;
    }
    .active ,a:hover {
        background-color: rgb(228, 228, 228);
        padding: 10px 15px;
        margin: 5px;
        border-radius: 5px;
    }
}

.nav-right{

    button{
        margin-right: 30px;
        padding: 12px 25px;
        font-size: 15px;
        border-radius: 5px;
        transition: 0.4s;
        border: none;
        color: #fff;
        background-color: rgb(209, 169, 110);
        cursor: pointer;

    }
    button:hover{
        background-color: rgb(155, 155, 155);
        padding: 14px 27px;
        
    }
}

.contianer{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    margin-top: 10px;
    text-align: center;
    font-size: 40px;
}
section
{
    margin-top :150px ;
    max-width: 400px;
    height: 750px;
    img{
        width: 80%;
    }
    .slscted{
        margin-top: 40px;
        width: 100%;
        font-size: 1rem;
        text-align: center;
    }
    select {
        margin-top: 20px;
        width: 90%;
        padding: 10px 10px;
        margin-left: 20px;
        font-size: 17px;
        border-radius: 5px;
        cursor: pointer;
        
        
        
    }
    button{
        width: 100%;
        color: #fff;
        margin-top: 20px;
        font-size: 20px;
        padding: 15px 20px;
        background-color: rgb(209, 169, 110);
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    button:hover{
        background-color: rgb(255, 229, 174);
        
    }
}



footer{
   
    margin-bottom: 10px;
    p{
        color: rgb(202, 201, 201);
    }
}
.bar{
    margin: 0 10px;
    display: none;
    cursor: pointer;
    .bar1, .bar2 ,.bar3{
        height: 3px;
        background-color: rgb(209, 169, 110);
        margin: 6px 10px;
        transition: 0.4s;
    }
    .bar1{
        width: 36px;
    }

    .bar2{
        width: 12px;
    }
    .bar3{
        width: 25px;
    }
}

.drop{
    z-index: 3;
    padding: .5rem;
    border-radius: 10px;
    position: fixed;
    display: grid;
    top: 80px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);

    a{
        text-decoration: none;
        color: black;
        padding:  .5rem 6rem .5rem .5rem ;
        margin-bottom: 2px;
        border-radius: 10px;
        font-size: 15px;
        background-color: #fff;


    }

    a:hover{
        background-color: rgba(126, 126, 126, 0.301);
    }
}

.modla , .modla-bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: grid;
    justify-items: center;
    align-items: center;
    overflow-y: hidden;
    
}

.modla-box{
    max-height: calc(100vh - 5em); 
    width: 91.666667%;
    max-width: 32rem;
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.473);
    border-radius: 15px;
    position: relative;
    overflow-y: hidden;
    transition: 0.4s; 
    z-index: 999;   
}

.modla-con{
   
    .close{
       position: absolute;
       top: 0;
       right: 0;
        margin-right: 20px;
        margin-top: 10px;
        font-size: 35px;
        cursor: pointer;
    }

    h4{
        text-align:center ;
        margin-top :30px;
        margin-bottom: 10px;
        font-size: 30px;
    }
    .img-item{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        img{
            width: 50%;
            height: 100%;
            border-radius: 50%;
            border: 1px solid rgba(31, 30, 30, 0.486);
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.473);
            object-fit: cover;
        }
    }
       
    
    

    h2{
        text-align: center;
        font-size: 35px;
        margin-top: 10px;
    }

    .close:hover {
        color: red;
    }
}

@media screen and (max-width:1024px) {
    .bar{
        display: block;
    }
    .nav-canter{
        display: none;
    }


   
}

